*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# ビルドログや中間ファイル
*.log

# Windowsのフォルダ表示用一時ファイル（Windows環境の場合）
Thumbs.db